@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Open+Sans&display=swap');

$bg-color: #fff;
$main-cursor: pointer;
%overlay {
    background: #E0E2;
    box-shadow: 0px 6px 59px rgba(53, 49, 84, 0.08);
} 
$base-grey-text: #5C6A79;
$base-black-text: #1C2A39;
$base-purple: #4C3DB2;
$main-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28); 

body {
    font-size: 10px;
}
.container {
    width: 100%;
    background: $bg-color;
    margin: 0 auto;
}

//HEADER
header {
    background-color: #FFF;
    z-index: 10;
    max-width: 1440px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 1120px;
    height: 116px;
    
}

.header__logo {
    color: $base-black-text;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    gap: 2rem;
    &-link {
        text-transform: uppercase;
        text-decoration: none;
        font-family: Montserrat;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: $base-grey-text;
        &:hover {
            font-weight: 900;
            color: $base-black-text;
        
        }
    }

}

.header-icons {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.header-icons__bag {
    position: relative;
}
.header-icons__bag-quantity {
    width: 13px;
    height: 13px;
    background-color: #FF353A;
    border-radius: 100%;
    position: absolute;
    right: -3px;
    bottom: -3px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.sticky + .content {
    padding-top: 102px;
}


//SLIDER content

.slider {
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider-box {
    position: relative;
    margin: 0 auto;
    align-items: center;
    display: flex;
    width: 100%;
    margin-bottom: 17px;
}
.slider-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    
}
.slider-content__img {
    margin: 0 auto;
    transition: transform 0.3s ease; 
    background-size: cover;
    background-position: center center;
    width: 1120px;
    height: 702px;
}

.slider-content__traidin {
    position: absolute;
    top: 79px;
    right: 240px;
    display: flex;
    flex-direction: column;
    width: 149px;
    height: 204px;
    background-color: #9E98DC;
    color: #1C2A39;
    text-decoration: none;
    box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
    z-index: 5;
    cursor: $main-cursor;
    &:hover {
        transform: scale(1.1)
    }
    div {
        padding-left:10%;
        padding-top: 102px;
        width: 100%;
        color: $base-black-text;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        text-align: left;
    }
    svg {
        padding-left: 10%;
    }
}


.slider-content__top-books {
    
    position: absolute;
    bottom: 70px;
    right: 160px;
    display: flex;
    flex-direction: column;
    width: 137px;
    height: 273px;
    background-color: #FF8FE6;
    color: #1C2A39;
    text-decoration: none;
    box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
    cursor: $main-cursor;
    z-index: 5;
    &:hover {
        transform: scale(1.1)
    }
    div {
        padding-left:10%;
        padding-top: 149px;
        width: 100%;
        color: $base-black-text;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        text-align: left;
    }
    svg {
        padding-left: 10%;
    }
      
}

.dots {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 105px;
  
}

.dot { 
    opacity: 0.3;
}

.dot:hover {
    opacity: 1 !important;
    transform: scale(1.1)
}

//BOOKS
.books-content {
    display: flex;
}

//aside

.books-categories {
    width: 29%;
    height: 710px;
    background-color: #EFEEF6;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
    ul {
        width: 50%; 
        height: 93%;
        padding-left: 30%;
        margin-top: 45px;
        li {
            cursor: $main-cursor;
            padding-bottom: 23px;
            position: relative;
            list-style: none;
    
            &:hover,
            &:active {
                color: $base-black-text;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: capitalize;
    
                &::before {
                    content: '\2022';
                    color: #756AD3;
                    position: absolute;
                    left: -15px;
                }
            }
    
            
        }
    }
}