doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        header
            a.header__logo(href="#") Bookshop
            nav 
                ul.header__list 
                    li.header__item 
                        a.header__list(href="#") books
                    li.header__item 
                        a.header__list(href="#") audiobooks
                    li.header__item   
                        a.header__list(href="#") Stationery & gifts
                    li.header__item
                        a.header__list(href="#") blog
                .icons 
                    button.user
                        img(src="", alt="")

